appdirs==1.4.4
-e git+git@github.com:seanrcollings/arc.git@235c57a4c9ef659d2fb97a0c77da79f7369da8f8#egg=arc_cli
astroid==2.4.1
attrs==20.1.0
black==19.10b0
bleach==3.3.0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
cryptography==3.4.7
docutils==0.17.1
idna==2.10
importlib-metadata==4.5.0
iniconfig==1.1.1
isort==4.3.21
jeepney==0.6.0
keyring==23.0.1
lazy-object-proxy==1.4.3
lazydocs==0.4.6
mccabe==0.6.1
mypy==0.812
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.0
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
pycparser==2.20
Pygments==2.9.0
pylint==2.5.2
pyparsing==2.4.7
pytest==6.2.4
readme-renderer==29.0
regex==2020.7.14
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.1
six==1.15.0
toml==0.10.1
tqdm==4.61.1
twine==3.4.1
typed-ast==1.4.1
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.5
webencodings==0.5.1
wrapt==1.12.1
zipp==3.4.1
